<%- include("./partials/header.ejs") %>
  <link rel="stylesheet" href="/styles/cases.css">

  <body>
    <%- include("./partials/aside.ejs") %>

    <div class="main">
      <%- include("./partials/navbar.ejs") %>

        <div class="content">
          <h1>Welcome!</h1>
          <p>Choose one of the cases below <br>
            and save the day.
          </p>


          <div class="cases-list">
            <% info.rows.forEach(infos=> { %>
              <!--WHENE YOU USE "FindAndCOuntAll" YOU NEED TO USE THE "rows" -->
              <div class="case">
                <main>
                  <div>
                    <h4>CASE:</h4>
                    <p>
                      <%= infos.title %>
                    </p>
                  </div>

                  <div>
                    <h4>ONG:</h4>
                    <p> <%= sessionName.name %> </p>
                  </div>


                  <div>
                    <h4>VALUE:</h4>
                    <p>
                      <%= infos.price.toFixed(2) %>$ Dollars
                    </p>
                  </div>

                </main>
                <div class="footer">
                  <a href="/cases/details/<%= infos.id %>">See more details</a>

                  <form action="/delete" method="POST">
                    <input type="hidden" name="id" value="<%= infos.id %>">
                    <button type="submit">
                      <img src="/img/trash.svg" alt="Trash">
                    </button>
                  </form>
                </div>
              </div>
              <% }) %>
          </div>
        </div>

        <script>
          var moneyFormater = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' })
          info.rows.forEach(infos => {
            var aa = formater.format(infos);
          })
          console.log(aa);
        </script>

    </div>

  </body>

  <%- include("./partials/footer.ejs") %>